@model Dictionary<string,string>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form method="post" asp-action="Add" enctype="application/x-www-form-urlencoded">
    <input type="text" name="key" />
    <input type="text" name="value" />
    <button type="submit">Kaydet</button>
</form>


@foreach (var item in Model)
{
    <h2>@item.Key -> @item.Value <a asp-controller="HashType" asp-action="DeleteItem" asp-route-key="@item.Key">Sil</a></h2>
}