
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="text-center">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Index</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Show">Show</a>
        </li>
    </ul>
</div>

