
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <ul>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="StringType" asp-action="Show">Show</a>
        </li>

    </ul>

</div>
