
@{
    ViewData["Title"] = "Show";
}

<h1>Show</h1>

<h2>Name : @ViewBag.name</h2>
<h2>Visitor : @ViewBag.visitor</h2>


<h2>NameRange : @ViewBag.nameRange</h2>
<h2>NameLength : @ViewBag.nameLength</h2>
